<div class="bg">
    <img class="pe-7s-portfolio" src="assets/images/pe-7-s-portfolio.png" alt="">
    <div class="blockOne">
        <div>
            <span class="t548">548</span>
        </div>
        <!-- <br style="font-size: 0; line-height: 0;" /> -->
        <div>
            <span class="projects-completed">projects completed</span>
        </div>

    </div>
    <img class="pe-7s-clock" src="assets/images/pe-7-s-clock.png" alt="">
    <div class="blickTwo">
        <span class="t1465">1465</span>
        <span class="WORKING-HOURS">WORKING HOURS</span>
    </div>
    <img class="pe-7s-star" src="assets/images/pe-7-s-star.png" alt="">
    <div class="blockTree">
        <span class="t612">612</span>
        <span class="POSITIVE-FEEDBACKS">POSITIVE FEEDBACKS</span>
    </div>
    <img class="pe-7s-like" src="assets/images/pe-7-s-like.png" alt="">
    <div class="blockFour">
        <span class="t735">735</span>
        <span class="HAPPY-CLIENTS">HAPPY CLIENTS</span>
    </div>
</div>
