.container {
  width: 100%;
  background-color: #10c9c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 178px;
  padding-bottom: 60px;
}

.title {
  /* margin: 178px 281px 35px 278px;  */
  /* Як правильно виставити відступи тексту щоб не було коряво при зміні розміру екрану? */
  width: calc(100vw * 0.6);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.24px;
  text-align: center;
  color: #fff;
}

.text-style-big {
  font-size: 30px;
  letter-spacing: 0.3px;
}

.autor {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.container-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle, .circle-active {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b0e8e6;
  margin-top: 109px;
}

.circle-active {
  width: 10px;
  height: 10px;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #fff;
}