.container {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 2.8;
  letter-spacing: 0.3px;
  text-align: center;
  color: #1d1d1d;
}

.description {
  font-family: NunitoSans;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: center;
  color: #787878;
}

.form-my {
display: flex;
flex-direction: column;
justify-content: center;
align-items: stretch;
}


.name {
  width: 320px;
  height: 48px;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 15px;
  margin-right: 30px;
  background-color: #fff;
  border: none;
}

.email {
  width: 320px;
  height: 48px;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 15px;
  background-color: #fff;
  border: none;
  margin-top: 10px;
}

.title {
  height: 48px;
  font-family: 'Montserrat',
  sans-serif;
  font-size: 15px;
  background-color: #fff;
  border: none;
}

.comment {
  height: 170px;
  font-family: 'Montserrat',
  sans-serif;
  padding-top: 18px;
  font-size: 15px;
  background-color: #fff;
  border: none;
  resize: none;
}

.green-style {
  width: 180px;
  height: 54px;
  align-self: center;
  background-color: #10c9c3;
  border: none;
}

.send-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-align: center;
  color: #fff;
}