<div class="bg">
    <span class="Need-a-Project">Need a Project?</span>
    <span class="Let-us-know-what-youre-looking-for-in-an-agency-Well-take-a Text-Style-12">
        Let us know what you're looking for in an agency. We'll take a look and see
        if this could be the start of something beautiful.</span>
    <form class="formMy" action="/action_page.php">
        <div>
            <input type="text" class="name" name="name" placeholder="Your Name" size="20">
            <input type="email" class="email" name="email" placeholder="Your Email"><br><br>
        </div>
        <input type="text" class="title" name="title" placeholder="Your Title" size="20"><br><br>
        <input type="text" class="comment" name="comment" placeholder="Your Comment"><br><br>
        <button class="bgb"><span class="send-message">send message</span></button>
    </form>
</div>