<div class="container">
    <img class="logo" src="/assets/images/logo.png" alt="logo">
    <div class="containerOne">
        <nav class="upMenu">
            <ul>
                <li><a href="http://" class="home text-style-1">home</a></li>
                <li><a href="http://" class="about">about</a></li>
                <li><a href="http://" class="work">work</a></li>
                <li><a href="http://" class="process">process</a></li>
                <li><a href="http://" class="services">services</a></li>
                <li><a href="http://" class="testimonials">testimonials</a></li>
                <li><a href="http://" class="contact">contact</a></li>
            </ul>
        </nav>
        <div class="titul">
            <h1>We Design and Develop</h1>
            <p>We are a new design studio based in USA. We have over
                20 years of combined experience, and know a thing or two
                about designing websites and mobile apps.</p>
            <a href="http://" class="bg"><span class="contact-us">Contact Us</span></a>
        </div>
    </div>

</div>
