@font-face {
  font-family: HammersmithOne;
  src: local(HammersmithOne-Regular),
    url(/path/to/HammersmithOne-Regular.woff2) format("woff2"),
    url(/path/to/HammersmithOne-Regular.woff) format("woff"),
    url(/path/to/HammersmithOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Karla;
  src: local(Karla-Regular),
    url(/path/to/Karla-Regular.woff2) format("woff2"),
    url(/path/to/Karla-Regular.woff) format("woff"),
    url(/path/to/Karla-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Montserrat;
  src: local(Montserrat-Medium),
    url(/path/to/Montserrat-Medium.woff2) format("woff2"),
    url(/path/to/Montserrat-Medium.woff) format("woff"),
    url(/path/to/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: NunitoSans;
  src: local(NunitoSans-Regular),
    url(/path/to/NunitoSans-Regular.woff2) format("woff2"),
    url(/path/to/NunitoSans-Regular.woff) format("woff"),
    url(/path/to/NunitoSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  src: local(PlayfairDisplay-Regular),
    url(/path/to/PlayfairDisplay-Regular.woff2) format("woff2"),
    url(/path/to/PlayfairDisplay-Regular.woff) format("woff"),
    url(/path/to/PlayfairDisplay-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  src: local(PlayfairDisplay-Bold),
    url(/path/to/PlayfairDisplay-Bold.woff2) format("woff2"),
    url(/path/to/PlayfairDisplay-Bold.woff) format("woff"),
    url(/path/to/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: PlayfairDisplay;
  src: local(PlayfairDisplay-Black),
    url(/path/to/PlayfairDisplay-Black.woff2) format("woff2"),
    url(/path/to/PlayfairDisplay-Black.woff) format("woff"),
    url(/path/to/PlayfairDisplay-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Light),
    url(/path/to/Roboto-Light.woff2) format("woff2"),
    url(/path/to/Roboto-Light.woff) format("woff"),
    url(/path/to/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Black),
    url(/path/to/Roboto-Black.woff2) format("woff2"),
    url(/path/to/Roboto-Black.woff) format("woff"),
    url(/path/to/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.Text-Style-7 {
  font-family: PlayfairDisplay;
  font-size: 100px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.22;
  letter-spacing: 3px;
  text-align: left;
  color: rgba(255, 255, 255, 0.9);
}

.Text-Style-2 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.96px;
  text-align: center;
  color: #fffcfc;
}

.Text-Style-3 {
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: 0.38px;
  text-align: left;
  color: #1d1d1d;
}

.Text-Style-6 {
  font-family: PlayfairDisplay;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.32px;
  text-align: center;
  color: var(--white);
}

.Text-Style-4 {
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}

.Text-Style-11 {
  font-family: NunitoSans;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.09px;
  text-align: left;
  color: #787878;
}

.Text-Style {
  font-family: HammersmithOne;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--aqua-blue);
}

.Text-Style-12 {
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: center;
  color: #787878;
}

.Text-Style-9 {
  font-family: Karla;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.2;
  letter-spacing: 1.13px;
  text-align: left;
  color: #23282f;
}

.Text-Style-10 {
  font-family: Karla;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.2;
  letter-spacing: 1.13px;
  text-align: left;
  color: var(--white);
}

.Text-Style-5 {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.33px;
  text-align: right;
  color: var(--aqua-blue);
}

.Text-Style-8 {
  font-family: Karla;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.69;
  letter-spacing: 0.98px;
  text-align: left;
  color: #93a1a7;
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.About-Us {
  /* width: 140px; */
  /* height: 22px; */
  /* text-decoration: none; */
  margin: 100px 608px 0px 614px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.3px;
  text-align: center;
  color: #191919;
}

.Divide-have-dont-man-wherein-air-fourth-Own-itself-make-have {
  /* width: 620px; */
  /* height: 62px; */
  margin: 41px 373px 0px 373px;
  font-family: NunitoSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: center;
  color: #787878;
}

img.signature {
  width: 223px;
  height: 57px;
  margin: 37px 568px 0px 575px;
  object-fit: contain;
}