<div class="container">
    <h2 class="About-Us">
        About Us
    </h2>
    <p class="Divide-have-dont-man-wherein-air-fourth-Own-itself-make-have">
        Divide have don't man wherein air fourth. Own itself make have night won't make.
        A you under Seed appear which good give. Own give air without fowl moveth dry first
        heaven fruit, dominion she'd won't very all.
    </p>
    <img src="/assets/images/signature.png" srcset="img/signature@2x.png 2x,
                 img/signature@3x.png 3x" class="signature">
</div>
