<div class="container">
    <div class="your-img-here"></div>
    <div class="your-img-here1"></div>
    <div class="your-img-here2"></div>
    <div class="your-img-here3"></div>
    <div class="your-img-here4"></div>
    <div class="your-img-here5">
        <img class="pe-7s-look" src="assets/images/pe-7-s-look.png" alt="">
    </div>
    <div class="your-img-here6"></div>
    <div class="your-img-here7"></div>
</div>
<div class="bg">
    <span class="load-more-work">
        load more work
    </span>
</div>