<div class="container">
    <div class="container-row">
        <div class="container-diamond">
            <img class="diamond" src="/assets/pictures/pe-7-s-diamond.png" alt="diamond">
            <h2 class="title-diamond">{{titleDiamond}}</h2>
            <p class="description-diamond">{{descriptionDiamond}}</p>
        </div>
        <div class="container-arc">
            <img class="arc" src="/assets/pictures/pe-7-s-arc.png" alt="arc">
            <h2 class="title-arc">{{titleArc}}</h2>
            <p class="description-arc">{{descriptionArc}}</p>
        </div>
        <div class="container-phone">
            <img class="phone" src="/assets/pictures/pe-7-s-phone.png" alt="phone">
            <h2 class="title-phone">{{titlePhone}}</h2>
            <p class="description-phone">{{descriptionPhone}}</p>
        </div>
        <div class="container-joy">
            <img class="joy" src="/assets/pictures/pe-7-s-joy.png" alt="joy">
            <h2 class="title-joy">{{titleJoy}}</h2>
            <p class="description-joy">{{descriptionJoy}}</p>
        </div>
    </div>
    <div class="container-row">
        <div class="container-plane">
            <img class="plane" src="/assets/pictures/pe-7-s-plane.png" alt="plane">
            <h2 class="title-plane">{{titlePlane}}</h2>
            <p class="description-plane">{{descriptionPlane}}</p>
        </div>
        <div class="container-star">
            <img class="star" src="/assets/pictures/pe-7-s-star.png" alt="star">
            <h2 class="title-star">{{titleStar}}</h2>
            <p class="description-star">{{descriptionStar}}</p>
        </div>
        <div class="container-magic-wand">
            <img class="magic-wand" src="/assets/pictures/pe-7-s-magic-wand.png" alt="magicWand">
            <h2 class="title-magic-wand">{{titleMagicWand}}</h2>
            <p class="description-magic-wand">{{descriptionMagicWand}}</p>
        </div>
        <div class="container-paint-bucket">
            <img class="paint-bucket" src="/assets/pictures/pe-7-s-paint-bucket.png" alt="paintBucket">
            <h2 class="title-paint-bucket">{{titlePaintBucket}}</h2>
            <p class="description-paint-bucket">{{descriptionPaintBucket}}</p>
        </div>
    </div>


</div>