<div class="bg">
    <div class="containerOne">
        <div class="diamondContainer">
            <img class="pe-7s-diamond" src="/assets/pictures/pe-7-s-diamond.png" alt="diamond">
            <span class="ui-ux-design">ui / ux design</span>
            <span class="Be-set-fourth-land-god-darkness-make-it-wherein-own Text-Style-12">
                Be set fourth land god darkness make it wherein own</span>
        </div>
        <div class="arcContainer">
            <img class="pe-7s-arc" src="/assets/pictures/pe-7-s-arc.png" alt="arc">
            <span class="web-development">web development</span>
            <span class="A-shed-them-bring-void-moving-third-shed-kind-fill Text-Style-12">
                A she'd them bring void moving third she'd kind fill</span>
        </div>
        <div class="phoneContainer">
            <img class="pe-7s-phone" src="/assets/pictures/pe-7-s-phone.png" alt="phone">
            <span class="app-mobile">app / mobile</span>
            <span class="Dominion-man-second-spirit-he-earth-theyre-creeping Text-Style-12">
                Dominion man second spirit he, earth they're creeping</span>
        </div>
        <div class="joyContainer">
            <img class="pe-7s-joy" src="/assets/pictures/pe-7-s-joy.png" alt="joy">
            <span class="game-design">game design</span>
            <span class="Morning-his-saying-moveth-it-multiply-appear-life-be Text-Style-12">
                Morning his saying moveth it multiply appear life be</span>
        </div>
    </div>
    <div class="containerTwo">
        <div class="planeContainer">
            <img class="pe-7s-plane" src="/assets/pictures/pe-7-s-plane.png" alt="plane">
            <span class="SEO-marketing">SEO / marketing</span>
            <span class="Give-wont-after-land-fill-creeping-meat-you-may Text-Style-12">
                Give won't after land fill creeping meat you, may</span>
        </div>
        <div class="starContainer">
            <img class="pe-7s-star" src="/assets/pictures/pe-7-s-star.png" alt="star">
            <span class="photography">photography</span>
            <span class="Creepeth-one-seas-cattle-grass-give-moving-saw-give Text-Style-12">
                Creepeth one seas cattle grass give moving saw give</span>
        </div>
        <div class="magicWandContainer">
            <img class="pe-7s-magic-wand" src="/assets/pictures/pe-7-s-magic-wand.png" alt="magicWand">
            <span class="graphic-design">graphic design</span>
            <span class="Open-great-whales-air-rule-for-fourth-life-whales Text-Style-12">
                Open, great whales air rule for, fourth life whales</span>
        </div>
        <div class="paintBucketContainer">
            <img class="pe-7s-paint-bucket" src="/assets/pictures/pe-7-s-paint-bucket.png" alt="paintBucket">
            <span class="illustrations">illustrations</span>
            <span class="Whales-likeness-hath-man-kind-for-them-air-two-wont Text-Style-12">
                Whales likeness hath, man kind for them air two won't</span>
        </div>
    </div>


</div>