.bg {
  /* width: 1367px; */
  /* height: 200px; */
  width: 100%;
  /* margin: 4562px 0 1035px; */
  /* padding: 64px 134px; */
  background-color: #fff;
  /* border: 1px solid black; */
}

.img1 {
  width: 89px;
  height: 65px;
  margin: 67px 150px 68px 134px;
  object-fit: contain;
  opacity: 0.5;
}

.img2 {
  width: 98px;
  height: 58px;
  margin: 71px 150px 71px 0;
  object-fit: contain;
  opacity: 0.5;
}

.img3 {
  width: 127px;
  height: 72px;
  margin: 64px 150px 64px 0;
  object-fit: contain;
  opacity: 0.5;
}

.img4 {
  width: 96px;
  height: 72px;
  margin: 64px 150px 64px 0;
  object-fit: contain;
  opacity: 0.5;
}

.img5 {
  width: 89px;
  height: 65px;
  margin: 67px 132px 68px 0px;
  object-fit: contain;
  opacity: 0.5;
}