.container {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

.one {
  width: 50%;
}

.Professional-Skills {
  margin: 164px 306px 0px 100px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.8;
  letter-spacing: 0.3px;
  text-align: left;
  color: #171717;
}

.UIUX-Design-75 {
  margin: 39px 356px 19px 98px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000;
}

.rectangle2,
.rectangle22,
.rectangle32 {
  width: 500px;
  height: 3px;
  margin: 19px 85px 0px 98px;
  background-color: #d8d8d8;
}

.rectangle1 {
  width: 336px;
  height: 3px;
  background-color: #10c9c3;
}

.web-development-90 {
  margin: 41px 309px 20px 98px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000;
}

.rectangle21 {
  width: 428px;
  height: 3px;
  background-color: #10c9c3;
}

.marketing-65 {
  margin: 41px 369px 20px 98px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000;
}

.rectangle31 {
  width: 280px;
  height: 3px;
  background-color: #10c9c3;
}

.two {
  width: 50%;
  height: 570px;
  background-color: #e9e9e9;
}
