<div class="container">
    <div class="one">
        <h1 class="Professional-Skills">
            Professional Skills
        </h1>
        <p class="UIUX-Design-75">
            UI/UX Design 75%
        </p>
        <div class="rectangle2">
            <div class="rectangle1"></div>
        </div>
        <span class="web-development-90">
            web development 90%
        </span>
        <div class="rectangle22">
            <div class="rectangle21"></div>
        </div>
        <span class="marketing-65">
            marketing 65%
        </span>
        <div class="rectangle32">
            <div class="rectangle31"></div>
        </div>
    </div>
    <div class="two"></div>
</div>
